/* General stuff */

html {
    background-color: rgb(242, 242, 242);
    font-family: "trebuchet MS", verdana, helvetica, ariel, sans-serif;
}

a {
    color: #003366;
}
a:hover {
    color: #006699;
}

h1 {
    font-size: 2em;
    color: #003366;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    color: #003366;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

h3 {
    font-size: 1.1em;
    color: #003366;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

sup {
     font-size:smaller;
     line-height:normal;
     vertical-align:super;
}

#itcq-doc {
    background-color: white;
    /* YUI GRID STUFF */
    margin:auto;text-align:left; /* leave unchanged */ 
    width:61.54em;/* non-IE */ 
    *width:60em;/* IE */ 
    min-width:600px;/* optional but recommended */ 
}

#header h1 {
    text-indent : -9999px; 
    background-image: url(../images/itcqlogo.png);
    display: block;
    width: 159px;
    height: 93px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 8px;
    float: left;
}

#header {
    background-image: url(../images/headerbackground.jpg);
    background-repeat: no-repeat;
    background-position: top right;
}

#header .sussex-link {
    text-indent : -9999px; 
    background-image: url(../images/sussexlogo.png);
    float: right;
    display: block;
    width: 94px;
    height: 21px;
    margin-top: 14px;
    margin-right: 18px;
}

#mainnav {
    width: 100%;
    display: block;
    clear: both;
}

#mainnav li {
    float: left;
    width: 14.28%; 
    height: 32px;
}
#mainnav li a {
    display: block;
    border-bottom: solid #7f9ecc 2px;
    border-right: solid #7f9ecc 1px;
    border-top: solid #d8ebff 2px;
    border-left: solid #d8ebff 1px;
    text-align: left;
    background-color: #99ccff;
    padding-top: 6px;
    padding-bottom: 7px;
    padding-left: 17px;
    color: #003366;
    text-decoration: none;
    
}


#mainnav li.selected a,#mainnav li.ancestor a {
    border-bottom: solid black 2px;
    border-right: solid black 1px;
    border-top: solid #9db1c4 2px;
    border-left: solid #2c5680 1px;    
    background-color: #003366;
    color: white;
}

#mainnav li a:hover {
    text-decoration: underline;
}

.content-box {
    margin: 22px;
    margin-top: 0px;
}

#content {
    margin-top: 22px;
}

#content li {
   list-style-type: disc;  
   list-style-image: url(../images/bullet.gif);
   margin-left: 2em;
   display:list-item;
}

#content ul {
    list-style-position:inside;
}

.box-headers h1 {
    margin-left: 22px;
    margin-bottom: 0px;
}

.footer {
    background: #cae5ff;
}

#footernav {
    margin-top: 1em;
    float: right;
}

#footernav a {
    text-decoration: none;
}

#footernav a:hover {
    text-decoration: underline;
}


#footernav li {
    display: inline;
}

#highlights a {
    display: block;
    height: 20px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 4px;
}


#sponsors {
    margin-left: 21px;
    margin-bottom: 3em;
    margin-top: 1em;
    
}

#sponsors .label {
    font-size: 1.5em;
    color: #003366;
}

#sponsors img {
    position: relative;
    margin-left: 0.5em;
    top: 20px;
}




/* Home page */

.researchareas h2 {
    color: #003366;
    font-size: 1.1em;
    margin-bottom: 1em;
    letter-spacing: 0.0em;
}

.researchareas a:hover h2 {
    color: #3399ff;
    text-decoration: underline;
}

/* .researchareas .yui-u { */
/*     margin-left: 0px !important; */
/*     width: 266.4px; */
/* } */

/* .researchareas img { */
/*     display: block; */
/*     width: 267px; */
/*     height: 67px; */
/*     position: relative; */
/*     left: -22px; */
/* } */

.researchareas .body {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 21px;
}

.researchareas .content-box {
    margin: 0px;
}

.researchareas h2, .researchareas h1, .researchareas a.morelink {
    display: block;
    margin-left: 21px;
}

.itcqpicture .caption {
    margin: 0.5em;
    display: block;
    text-align: center;
    font-style: italic;
}

.itcqpicture img {
    float: none !important;
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}




/* Research (or any other section with subnav) */

.sectiontitle {
    margin-top: 5px;
    font-size: 2em !important;
    margin-left: 17px;
}

.subsectiontitle {
    font-size: 2em !important;
}

#breadcrumb-header {
    margin-left: 21px;
    margin-bottom: 1em;
}

#breadcrumb-header li {
    display: inline;
}

#breadcrumb-header a {
    text-decoration: none;
    color: #003366;
}

#breadcrumb-header a:hover {
    text-decoration: underline;
}

#breadcrumb-header {
    color: #003366;
}

#breadcrumb-header li {
    font-size: 2em;
    margin-left: 0px;
    display: none;
}

#breadcrumb-header .level-1 {
    display: block;
}

ul#subnav {
    margin-left: 17px;
}

ul#subnav li {
    font-size: 1.2em;
    margin-bottom: 1em;
    list-style: none;  
    margin-left: 0px;
}

ul#subnav ul li {
    list-style-type: none;  
    font-size: 0.8em;
    padding-left: 1.5em;
    margin-bottom: 0;
}

ul#subnav ul ul li {
    font-size: 0.8em;
    padding-left: 1em;
}

ul#subnav ul ul ul li {
    font-size: 0.8em;
    padding-left: 1em;
}


ul#subnav a {
    text-decoration: none;
    color: inherit;
}

ul#subnav li {
    color: #003366;
}

ul#subnav li.selected {
    color: #3399ff;
}

ul#subnav a:hover {
    text-decoration: underline;
    color: #3399ff;
}

#withsubnav .main-content {
    margin-right: 21px;
    margin-bottom: 3em;
}

#withsubnav h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#withsubnav img {
    float: right;
}

#withsubnav p {
    margin-bottom: 1em;
}

#withsubnav.picsright p {
    margin-right: 190px;
}

#withsubnav.picsleft p {
    margin-left: 95px;
}

.itcqflash {
    float: right;
}

.itcqflash object, .itcqflash embed {
    float: none;
}

object, embed {
    float: right;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.itcqflash .caption {
    margin: 0.5em;
    display: block;
    text-align: center;
    font-style: italic;
}

/* Default template */

#default {
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 3em;
}

#default img {
    float: right;
}

/* about itcq */

body.about #content p {
    margin-right: 260px;
}

/* publications */
.publicationslist li {
    list-style-type: circle;  
    list-style-image: url(../images/bullet.gif);
    font-size: 1.2em;
    margin-left: 16px;   
    margin-bottom: 16px;   
    color: black;
}

.publicationslist a.reftextlink {
    color: black;
    text-decoration: none;
}

.publicationslist a.reftextlink:hover {
    text-decoration: underline;
}

.publicationslist a {
    display: block;
}

.publicationslist pre {
    display: block;
    border: 1px solid black;
    overflow: scroll;
}

/* people */

.person {
    clear: both;
    color: #003366;
    margin-bottom: 2em;
}

.person img {
    float: left !important;
    border: 1px solid #a5cfff;
}

.person p, .person h2 {
    margin-left: 100px;
}

.person h2 {
    font-size: 1.5em;
}

.person p {
    font-size: 1.2em;
}

.person p.role {
    margin-bottom: 1em;
}

.person p.bio {
    margin-top: 1em;
}

.linklist li {
    list-style-type: square;  
    margin-left: 16px;;
    margin-bottom: 10px;
}

