{% extends "itcq/base.html" %}
{% load cache cms_tags itcq_tags %}
{% block main %}
<div id="withsubnav" class="{% block subnavclass %}{% endblock %}">
  <h1 class="sectiontitle">{% ancestor_title 0 %}</h1>
<div class="yui-gf"> 
  <div class="yui-u first menucolumn">
    <ul id="subnav">
      {% block menu %}
      {% show_menu 1 2 0 1 %}
      {% endblock %}
    </ul>
  </div>
  <div class="yui-u">
    <div class="main-content">
      {% ancestor_title 1 "title" %}
      {% if title %}
      <h1 class="subsectiontitle">{{title}}</h1>
      {% endif %}
    {% placeholder main %}
    </div>
  </div>
</div>
</div>
{% endblock %}
